#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/dd3a78bc-38cd-479e-b199-11db413fd705/ # 
title: contactapi
version: 1.0
types:
  contact : !include datatypes/contact.raml

/contacts:
        post:
          body:
            application/json:
              type:
                contact
              example:
                !include examples/contact.raml
          responses:
            500:
              body:
                application/json:
                  examples:
                    {
                      "message" : "Error connecting to the API. Please try again."
                    }
            401:               
              body:
                application/json:
                  examples:
                    {
                      "Access Denied. Please verify the credentials and try again."
                    }
            201:
              body:
                application/json:
                  example: {
                    "message": "Contact created successfully."
                  }
        get:
          responses:
            500:
              body:
                application/json:
                  examples:
                    {
                      "message" : "Error connecting to the API. Please try again."
                    }
            401:               
              body:
                application/json:
                  examples:
                    {
                      "Access Denied. Please verify the credentials and try again."
                    }
            200:
              body:
                application/json:
                  example: !include examples/contacts.raml

                  
    